86BOX/*
!86BOX/README.TXT
!86BOX/86box_global.cfg

APPS/*
!APPS/README.TXT

DISKS/*
!DISKS/README.TXT

DOC/*
!DOC/LIBC
!DOC/VGA

DISKS/*
!DISKS/README.TXT

FLOPPIES/*
!FLOPPIES/README.TXT

GAMES/*
!GAMES/README.TXT

OS/*
!OS/README.TXT
